<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iT_landingPage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <form action="/register" method="post">
        <p>Mail</p>
        <input type="text" name="mail" value=""><br>
        <p>First name</p>
        <input type="text" name="firstName"><br>
        <p>Last name</p>
        <input type="text" name="lastName"><br>
        <p>Nickname</p>
        <input type="text" name="nickname"><br>
        <p>Password</p>
        <input type="password" name="password"><br>
        <p>I'am a Tutor</p>
        <input type="checkbox" name="isTutor" value="isTutor"><br>
        <input type="submit" value="Registirieren">
    </form>
</body>

</html>